@charset "utf-8";
/* CSS Document */
html{
	font-size: 62.5%; 
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	max-width:1440px;
	margin:0 auto;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 0.2rem;
	color: #414141;
}

.wrapper{
	overflow: hidden;
}

header{
	height:5rem;
}

.logo{
	letter-spacing: 0.2rem;
}

h4{
	font-size: 1.2rem;
}

h2{
	font-size: 1.5rem;
}

.header-left{
	float: left;
	clear: both;
}

.header-right{
	line-height: 5rem;
	float: right;
	width:30%;
}

.navi-menu{
	padding-right: 1.5rem;
	clear: both;
	float: right;
	display: flex;
	justify-content: space-around;
}

.navi-menu li{
	width:33%;
}

.top-image{
	width:100%;
	margin-bottom:0.5rem;
}


h1{
	font-size: 3rem;
	font-weight: 300;
	font-style: italic;
	text-align: left;
	letter-spacing:0.5rem;
}

h3{
	font-size: 1.6rem;
	font-weight: 300;
	font-style: italic;
	text-align: left;
	margin-bottom: 1rem;
}

p{
	font-size: 1.6rem;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-weight: 500;
	font-style:normal;
	text-align: left;
	margin-bottom: 5rem;
	letter-spacing: 0.3rem!important;
	line-height: 2.5rem;
}

.about{
	z-index: 1;
	position: relative;
}
.about-img{
	width:76%;
	display: block;
	text-align: center;
}

.btn1{
	display: block;
	font-style: italic;
	text-decoration: none;
	writing-mode: vertical-lr;
	background-color: #414141;
	color:white;
	white-space: nowrap;
	padding:1.5rem 1.5rem 3.5rem;
	position: absolute;
	bottom:-10%;
	right:20%;
	z-index: 2;
	font-size: 1.5rem;
}

.bg-blue{
	margin-top: -15rem;
	padding:15rem 0 25rem;
	background:linear-gradient(90deg,rgba(152,199,206,0.75) 0%,rgba(152,199,206,0.75) 50%,white 50%,white 100%	);

}

.about-txt{
	margin-top: 5rem;
	margin-left: 12%;
}

.works-tlt{
	margin-top: -5rem;
	width: 20rem;
	transform: rotate(270deg);
	float: left;
}

.works-h1{
	display: block;
}
.works-h3{
	display: block;
}

.works-img{
	margin-top: -18rem;
	width: 65%;
	padding-left: 30rem;
}

.works-img img{
	width: 80%;
	margin-bottom: 3rem;
}

.btn-area{
	position: relative;
}

.btn2{
	display: block;
	font-style: italic;
	text-decoration: none;
	background-color:white;
	color:#4f4f4f;
	white-space: nowrap;
	padding:1.5rem 3.5rem 1.5rem 1.5rem;
	position: absolute;
	top:80%;
	right:20%;
	z-index: 2;
	font-size: 1.5rem;
}

.JP{
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
	font-weight: 500;
	font-size: 2.2rem;
	font-style: normal;
	margin-bottom: 1rem;
	letter-spacing:0.5rem;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color:#414141;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color:#414141;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color:#414141;
}

input::placeholder, textarea::placeholder {
  color:#414141;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color:#414141;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #414141;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}


.contact{
	background-color: rgba(152,199,206,0.75);
	padding-bottom: 8rem;
	padding-top: 2rem;
}

.contact-tlt{
	text-align: center;
	color: #414141;
}

#form {
  position: relative;
  width: 50rem;
  margin: 5rem auto 10rem auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 47rem;
  height: 5rem;
  padding: 0px 1.5rem 0px 1.5rem;
  
  background-color: white;
  outline: none;
  color: #414141;
  
  border: solid 1px #414141;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: white;;
}

textarea:hover{
	background: white;
}

textarea {
  width: 47rem;
  height: 11rem;
  padding: 1.5rem;
  
  background-color: white;
  outline: none;
  
  color: #414141;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #414141;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}



#submit {
  display:block;
  width: 50.2rem;
  padding: 0;
  margin: -0.5rem 0 0 0;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: white;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #414141;
  border-top: none;
  background-color: #414141;
}

#submit:hover {
  color:white;
  background-color: #98C7CE;	
}


@media screen and (min-width: 1000px) {


.wrapper{
	width:70%;
	margin:0 auto;
}

.container{
	width: 100%;
	margin:0 auto;
	text-align: center;
}

main{
	width:95%;
}

.sp-only{
	display: none;
}
	
}

@media screen and (max-width: 999px) {

html,body,main,section{
	font-size: 28%!important;
	width: 100%; 
}

.wrapper{
	width:100%;
	margin:0 auto;
}

.container{
	width: 100%;
	margin:0 auto;
	text-align: center;
}

main{
	width:95%;
}

.works-tlt{
	font-size: 28%;
	margin-top: -16px;
	width: 20rem;
	transform: rotate(270deg);
	float: left;
	margin-left: -3rem;
}

.works-img{
	font-size: 28%;
	margin-top: -18rem;
	width: 65%;
	padding-left:20rem;
}

.form-wrap{
	width:80%;
	margin:0 auto;
	text-align: center;
}
}



